In [4]:
import pandas as pd

tabela = pd.read_excel('Produtos.xlsx')
display(tabela)

,Produtos,Preço Base Original,Tipo,Multiplicador Imposto,Preço Base Reais
0,Tablet,999.99,Produto,1.1,1099.989
1,Pós Graduação,4500.00,Serviço,1.3,5850.000
2,Celular,899.99,Produto,1.1,989.989
3,Passagem Aérea,799.00,Serviço,1.3,1038.700
4,Computador,3000.00,Produto,1.1,3300.000
5,SPA,480.48,Serviço,1.3,624.624
6,Corte Cabelo,50.00,Serviço,1.3,65.000

In [7]:
#Atualizar o multiplicador
tabela.loc[tabela['Tipo']== 'Serviço', "Multiplicador Imposto"] = 1.5

# calcular multiplicador vezes o preço original
tabela["Preço Base Reais"] = tabela["Multiplicador Imposto"] * tabela["Preço Base Original"]

tabela.to_excel('Produtos Pandas.xlsx', index=False)

In [15]:
#importando
vendas_df = pd.read_csv(r'Contoso - Vendas  - 2017.csv', sep=';')
produtos_df = pd.read_csv(r'Contoso - Cadastro Produtos.csv', sep =';')
lojas_df = pd.read_csv(r'Contoso - Lojas.csv', sep =';')
clientes_df = pd.read_csv(r'Contoso - Clientes.csv', sep =';')

#Selecionando colunas
clientes_df = clientes_df[["ID Cliente", "E-mail"]]
produtos_df = produtos_df[["ID Produto", 'Categoria']]
lojas_df = lojas_df[['ID Loja', 'Nome da Loja']]

#mesclando e renomeando
vendas_df = vendas_df.merge(produtos_df, on='ID Produto')
vendas_df = vendas_df.merge(clientes_df, on="ID Cliente")
vendas_df = vendas_df.merge(lojas_df, on="ID Loja")

vendas_df = vendas_df.rename(columns={'E-mail': "E-mail Cliente"})

display(vendas_df)

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Categoria,E-mail Cliente,Nome da Loja
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1,Câmera Digital,rbrumfieldmy@ameblo.jp,Loja Contoso Austin
1,640549,28/08/2017,01/09/2017,4,86,1646,3,30258,12,0,Filme DVD,patricia6@adventure-works.com,Loja Contoso Austin
2,102415,12/02/2017,13/02/2017,1,86,486,2,33377,4,0,Monitor,mya1@adventure-works.com,Loja Contoso Austin
3,940800,16/12/2017,22/12/2017,6,86,975,4,11108,6,0,Câmera Digital,meary31@desdev.cn,Loja Contoso Austin
4,715385,28/09/2017,28/09/2017,0,86,311,3,10568,6,0,Sistema Audivisual para Carro,jphettiplaceft@utexas.edu,Loja Contoso Austin
...,...,...,...,...,...,...,...,...,...,...,...,...,...
980637,766546,14/10/2017,14/10/2017,0,65,346,1,7781,10,0,Laptop,psprowleslq@boston.com,Loja Contoso Racine No.2
980638,540137,19/07/2017,20/07/2017,1,65,397,3,30585,12,0,Laptop,kathleen8@adventure-works.com,Loja Contoso Racine No.2
980639,864227,17/11/2017,17/11/2017,0,65,409,4,20491,6,0,Laptop,jscardifielddq@wp.com,Loja Contoso Racine No.2
980640,553823,24/07/2017,25/07/2017,1,65,362,3,33114,12,0,Laptop,evelyn1@adventure-works.com,Loja Contoso Racine No.2
980641,508546,06/07/2017,10/07/2017,4,65,338,3,20830,12,0,Laptop,cmollindinian5@bloglines.com,Loja Contoso Racine No.2

In [27]:
display(vendas_df.loc[vendas_df["ID Loja"] == 222])

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Categoria,E-mail Cliente,Nome da Loja
949799,923369,10/12/2017,10/12/2017,0,222,47,10,24554,4,0,Caneta Gravadora,mallory2@adventure-works.com,Loja Contoso Roma
949800,2554,02/01/2017,02/01/2017,0,222,390,10,12182,8,0,Laptop,bwhyborne53@printfriendly.com,Loja Contoso Roma
949801,760764,13/10/2017,13/10/2017,0,222,854,10,12182,8,0,Acessório para Computador,bwhyborne53@printfriendly.com,Loja Contoso Roma
949802,941024,17/12/2017,18/12/2017,1,222,1152,10,20660,8,0,Câmera e Filmadora,centwhistleif@youtube.com,Loja Contoso Roma
949803,940499,16/12/2017,24/12/2017,8,222,1201,10,12175,8,0,Câmera e Filmadora,sdelgardo4w@skype.com,Loja Contoso Roma
...,...,...,...,...,...,...,...,...,...,...,...,...,...
950613,872909,21/11/2017,22/11/2017,1,222,1443,10,3228,8,0,Smartphone,kgrimster6d@feedburner.com,Loja Contoso Roma
950614,833615,06/11/2017,06/11/2017,0,222,1585,10,1838,8,0,Filme DVD,ggridleyn9@imgur.com,Loja Contoso Roma
950615,786455,21/10/2017,25/10/2017,4,222,726,10,1107,8,0,"Impressora, Scanner & Fax",gchaff2y@de.vu,Loja Contoso Roma
950616,775333,17/10/2017,17/10/2017,0,222,1513,10,1271,8,0,Tablet,gfetherston7i@mozilla.org,Loja Contoso Roma
950617,523991,12/07/2017,13/07/2017,1,222,406,1,38013,10,1,Laptop,james84@adventure-works.com,Loja Contoso Roma

In [31]:
from tqdm import tqdm

#Somar +1 na Quantidade Devolvida da loja de ID 222
#vendas_df.loc[vendas_df["ID Loja"] == 222, "Quantidade Devolvida"] += 


pbar = tqdm(total=len(vendas_df["ID Loja"]), position=0, leave=True)

for i, id_loja in enumerate(vendas_df["ID Loja"]):
    pbar.update()
    if id_loja == 222:
        vendas_df.loc[i, "Quantidade Devolvida"] += 1




display(vendas_df)

100%|██████████| 980642/980642 [00:42<00:00, 23038.74it/s]
 90%|█████████ | 882704/980642 [00:00<00:00, 1546175.86it/s]

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Categoria,E-mail Cliente,Nome da Loja
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1,Câmera Digital,rbrumfieldmy@ameblo.jp,Loja Contoso Austin
1,640549,28/08/2017,01/09/2017,4,86,1646,3,30258,12,0,Filme DVD,patricia6@adventure-works.com,Loja Contoso Austin
2,102415,12/02/2017,13/02/2017,1,86,486,2,33377,4,0,Monitor,mya1@adventure-works.com,Loja Contoso Austin
3,940800,16/12/2017,22/12/2017,6,86,975,4,11108,6,0,Câmera Digital,meary31@desdev.cn,Loja Contoso Austin
4,715385,28/09/2017,28/09/2017,0,86,311,3,10568,6,0,Sistema Audivisual para Carro,jphettiplaceft@utexas.edu,Loja Contoso Austin
...,...,...,...,...,...,...,...,...,...,...,...,...,...
980637,766546,14/10/2017,14/10/2017,0,65,346,1,7781,10,0,Laptop,psprowleslq@boston.com,Loja Contoso Racine No.2
980638,540137,19/07/2017,20/07/2017,1,65,397,3,30585,12,0,Laptop,kathleen8@adventure-works.com,Loja Contoso Racine No.2
980639,864227,17/11/2017,17/11/2017,0,65,409,4,20491,6,0,Laptop,jscardifielddq@wp.com,Loja Contoso Racine No.2
980640,553823,24/07/2017,25/07/2017,1,65,362,3,33114,12,0,Laptop,evelyn1@adventure-works.com,Loja Contoso Racine No.2
980641,508546,06/07/2017,10/07/2017,4,65,338,3,20830,12,0,Laptop,cmollindinian5@bloglines.com,Loja Contoso Racine No.2

100%|██████████| 980642/980642 [00:19<00:00, 1546175.86it/s]